<div class="edit-transaction-container">
  <h3 class="mb-4">Detail Transaction</h3>
  <form [formGroup]="formGroupDetailTransaction">
    <div class="mb-2">
      <label class="form-label">Type</label>
      <select  class="form-select" formControlName="type" name="type">
        <option *ngFor="let type of listTransactionType"
                [selected]="type.categoryGroupId === formGroupDetailTransaction.get('type').value?.categoryGroupId"
                [ngValue]="type">
          {{type.categoryGroupName | titlecase}}
        </option>
      </select>
    </div>

    <div class="mb-2">
      <label for="note" class="form-label">Title</label>
      <input class="form-control" id="note" formControlName="note" name="note">
    </div>

    <div class="mb-2">
      <label class="form-label">Category</label>
      <select class="form-select" formControlName="category" name="category" [compareWith]="compareCategory">
        <option *ngFor="let type of listCategories"
                [ngValue]="type">
          {{type.category_name | titlecase}}
        </option>
      </select>
    </div>

    <div class="mb-2">
      <label for="amount" class="form-label">Amount</label>
      <input type="text" class="form-control" id="amount" formControlName="amount" name="amount">
    </div>

    <div class="mb-4">
      <label for="date" class="form-label">Date</label>
      <input class="form-control" id="date" formControlName="date" name="date">
    </div>

    <div class="btn-container">
      <button class="btn btn-outline-error" (click)="deleteTransaction()">Delete</button>
      <div class="d-flex justify-self-end">
        <button (click)="cancelEditTransaction()" class="btn btn-outline-warn">Cancel</button>
        <button [disabled]="formGroupDetailTransaction.invalid" (click)="submitEditTransaction()" class="btn btn-success">Submit</button>
      </div>

    </div>

  </form>
</div>
