.list-categories-container {
  margin: auto;
  padding: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.list-categories-sub-container {
  display: grid;
  grid: auto-flow / 1fr 1fr;
  gap: 1rem;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
