<div class="add-transaction-container">
  <h3 class="mb-4">Add Transaction</h3>
  <form [formGroup]="formGroupAddTransaction">
    <div class="mb-2">
      <label class="form-label">Type</label>
      <select  class="form-select" formControlName="type" name="type">
        <option *ngFor="let type of listTransactionType" [ngValue]="type">{{type.categoryGroupName | titlecase}}</option>
      </select>
    </div>

    <div class="mb-2">
      <label for="note" class="form-label">Title</label>
      <input class="form-control" id="note" formControlName="note">
    </div>

    <div class="mb-2">
      <label class="form-label">Category</label>
      <select class="form-select" formControlName="category">
        <option *ngFor="let type of listCategories" [value]="type.category_id">
          {{type.category_name | titlecase}}
        </option>
      </select>
    </div>

    <div class="mb-2">
      <label for="amount" class="form-label">Amount</label>
      <input type="text" class="form-control" id="amount" formControlName="amount">
    </div>

    <div class="mb-4">
      <label for="date" class="form-label">Date</label>
      <input class="form-control" id="date" formControlName="date">
    </div>

    <div class="d-flex justify-content-end">
      <button (click)="cancelTransaction()" class="btn btn-outline-warn">Cancel</button>
      <button [disabled]="formGroupAddTransaction.invalid" type="submit" (click)="submitAddTransaction()" class="btn btn-success">Submit</button>
    </div>

  </form>
</div>
